.navbar.navbar-inverse.navbar-static-top(ng-controller="NavbarCtrl")
    .container
        .navbar-header
            button.navbar-toggle(type="button",data-toggle="collapse",data-target=".navbar-collapse")
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="/") BLOG
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li
                    // a:  button.btn.btn-default(type="button",data-controller='body',data-toggle='popover',data-placement='left',data-content='aaaa')
                    a:  span.glyphicon.glyphicon-search(style="font-size:18px;")
                li(ng-repeat="item in menu")
                    a(href="{{item.link}}") {{item.title}}

