div(ng-include='"components/navbar/navbar.html"')

#ww(ng-controller="MainCtrl")
    .container
        .row
            .col-lg-8.col-lg-offset-2.centered
                img.img-circle(src="../../assets/images/me.jpg")
                //img.img-rounded(src="../../assets/images/me.jpg")
                h1   HELLO WORLD !
                p   没有神，我孤独地生存
                p   我就是我自己的神，在我活的地方

.container.pt
   .row.mt.centered
       .col-lg-4(ng-repeat="item in works")
           a.zoom.green(href="{{item.links}}")
               img.img-responsive.img-circle(src="../../assets/images/portfolio/{{item.src}}",alt="{{item.title}}",title="{{item.title}}")
            p   {{item.name}}

div(ng-include='"components/foot/footer.html"')
