div(ng-include='"components/navbar/navbar.html"')

div(ng-controller="AboutCtrl")
    .jumbotron
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    h1  This Is Section One
                    p   Some Intrudution Here!This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                    p   Some Intrudution Here!This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                    p   Some Intrudution Here!This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
                    p   Some Intrudution Here!This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    .jumbotron
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    h1  This Is Section Two
                    p   Other Descriptions
                    p   Other Descriptions
                    p   Other Descriptions
    .jumbotron
        .container
            .row
                .col-lg-8.col-lg-offset-2
                    h1  This Is Section Two
                    p   Other Descriptions
                    p   Other Descriptions
                    p   Other Descriptions

div(ng-include='"components/foot/footer.html"')
