footer.footer
    div.container
        p
            | XL Blog
            = ' | '
            a(href='/') @XL
            =' | '
            | Based on &nbsp;
            a(href='https://github.com/DaftMonk/generator-angular-fullstack') angular-fullstack
